.image-tabs {
  height: 50px;
}

.title-visualizar {
  margin-top: 10px;
  vertical-align: top;
  text-align: center;
  margin-left: 2px;
  font-weight: bolder;
}

.titulo-post {
  padding: 0px;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}
