
<div class="progress" *ngIf="loading">
  <div class="indeterminate"></div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <span class="flow-text">
        <h5 class="center-align">MovieStagram</h5>
      </span>
      <div class="divider"></div>
      <div class="section">
        <app-header
          [qtdPosts]="qtdPosts"
          [qtdComentarios]="qtdComentarios"
          [qtdCurtidas]="qtdCurtidas" ></app-header>
      </div>
      <div class="divider"></div>
      <div class="section">
        <app-posts-timeline [postsListas]="postsListas"></app-posts-timeline>
      </div>
    </div>
  </div>
</div>
